/* @tailwind base;
@tailwind components;
@tailwind utilities;

.custom-checkbox-alt {
    -webkit-appearance: none;
    appearance: none;
    width: 16px;
    height: 16px;
    border: 1px solid #b9b9b9;
    border-radius: 3px;
    cursor: not-allowed;
}

.custom-checkbox-alt:checked {
    background-color: #1e3bdd;
    position: relative;
}

.custom-checkbox-alt:checked::before {
    content: '✓';
    position: absolute;
    color: white;
    font-size: 12px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.custom-radio {
    -webkit-appearance: none;
    appearance: none;
    width: 16px;
    height: 16px;
    border: 1px solid #b9b9b9;
    border-radius: 50%;
    cursor: not-allowed;
}

.custom-radio:checked {
    background-color: white;
    position: relative;
}

.custom-radio:checked::before {
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    background-color: #1e3bdd;
    border-radius: 50%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

@page {
    margin: 0;
    padding: 0;
}
.page-break-after {
    page-break-after: always;
} */
